<div id="footer-texts" class="pull-left"><strong>@WorkContext.CurrentSite.SiteName</strong> &copy; @DateTime.Now.Year</div>
<div id="footer-navigation" class="pull-right">
    <ul id="menu-footer-bottom-menu" class="clearfix unstyled-all">
        <li class="menu-item">
            <a href="https://www.facebook.com/Precision-Flight-Controls-196107530417524/timeline/" target="_blank">
                <i class="ui--icon fa fa-facebook" style="margin-right: 5px;"></i>
            </a>
        </li>
        <li class="ui--separator"></li>
        <li class="menu-item">
            <a href="https://twitter.com/flypfc" target="_blank">
                <i class="ui--icon fa fa-twitter" style="margin-right: 5px;"></i>
            </a>
        </li>
        <li class="ui--separator"></li>
        <li class="menu-item">
            <a href="https://plus.google.com/u/0/112219552735621227388" target="_blank">
                <i class="ui--icon fa fa-google-plus" style="margin-right: 5px;"></i>
            </a>
        </li>
        <li class="ui--separator"></li>
        <li class="menu-item">
            <a href="https://www.linkedin.com/company/precision-flight-controls-inc." target="_blank">
                <i class="ui--icon fa fa-linkedin" style="margin-right: 5px;"></i>
            </a>
        </li>
        <li class="ui--separator"></li>
        <li class="menu-item">
            <a href="https://www.youtube.com/user/flypfc" target="_blank">
                <i class="ui--icon fa fa-youtube" style="margin-right: 5px;"></i>
            </a>
        </li>
    </ul>
</div>