<div class="ui--message-box-wrap ui-row ui--animation clearfix">
    <div class="ui--message-box clearfix ui--message-box-@((Model.Type).ToString() == "Error" ? "error" : (Model.Type).ToString() == "Information" ? "info" : "caution") @((Model.Type).ToString() == "Information" ? "ui--gradient-primary" : string.Empty) ui--gradient">
        <div class="ui--message-box-icon-wrap"><i class="ui--icon icomoon-@((Model.Type).ToString() == "Error" ? "cancel-circle" : (Model.Type).ToString() == "Information" ? "info" : "warning") icon-inline-block" style="font-size: 32px; width: 36px; height: 36px;"></i></div>
        <div class="ui--message-box-inline">
            <p>@Html.Raw(Html.Encode(Model.Message).Replace("\n", "<br />"))</p>
        </div>
    </div>
    <div class="ui--shadow ui--shadow-type-1 clearfix">
        <img src="@Href(Html.ThemePath(WorkContext.CurrentTheme, "/Content/shadow-1.png"))" alt="">
    </div>
</div>