@using Orchard.Tags.Models

<div class="tagcloud">
    @foreach (TagCount tagCount in Model.TagCounts) {
        @Html.ActionLink(tagCount.TagName, "Search", "Home", new { area = "Orchard.Tags", tagName = tagCount.TagName }, null)
    }
</div>