@{
    Layout.Title = Model.Title;
    string subTitle = Model.SubTitle;
}

<div id="titlebar-text">
    <h2 id="titlebar-title">@Model.Title</h2>
    @if (!string.IsNullOrWhiteSpace(subTitle)) {
        <div class="titlebar-text-content">
            <p>@subTitle</p>
        </div>
    }
</div>