@model Orchard.Tags.ViewModels.TagsSearchViewModel

@{ 
    Model.List.Classes.Add("unstyled");

    WorkContext.Layout.BeforeMain.Add(New.Parts_Title(Title: T("Contents tagged with \"{0}\"</span>", Model.TagName)), "0");
}

@Display(Model.List)
@Display(Model.Pager)